h1{
	text-align: center;
}

.images{
	clear: all;
	float: left;
}

#Wand{
	display: block;
	margin: auto;
	width: 10%; 
	padding: 50px;
}

.SM{
	float: left;
}

.SMer{
	float: left;
}

.SV{
	float: left;
}

.SMars{
	float: left;
}

#wins, #losses{
	clear: all; 
	position: relative;
	margin: auto; 
}
/*.boxed {
	width: 10%;
	height: 10%;
	margin: 5%;
	border: 10px solid black;
	float: left;
}*/